# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editors/IDE
.vscode/
.idea/

# Jupyter
*.ipynb
.ipynb_checkpoints

# Data and outputs (keep out of git)
data/
outputs/

# Local secrets
.env
local_settings.py